module zapret 1.2;

require {
    type init_t;
    type bin_t;
    class file { execute execute_no_trans open map read };
    class process { transition sigchld execmem execstack };
    class rawip_socket { create setopt };
}

# Разрешаем init запускать zapret
allow init_t bin_t:file { read execute execute_no_trans open map };

# Разрешаем init создавать сокеты и управлять процессом
allow init_t self:rawip_socket { create setopt };

# Разрешаем init_t выполнять execmem/execstack (для iptables и прочих модулей)
allow init_t self:process { execmem execstack };
